*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--col-pri-shade-1);
  padding: 10px;
  text-align: center;
}

h2 {
  color: var(--col-pri-shade-1);
  padding: 20px 0;
}

:root {
  --font: Verdana, Geneva, Tahoma, sans-serif;
  --flex-items: 7;
  --flex-gap: 10px;

  --col-button-red: #ca0000;
  --col-pri-shade-0: #bca86c;
  --col-pri-shade-1: #755f1b;
  --col-pri-shade-2: #8d7018;
  --col-pri-shade-3: #f6eed6;
  --col-pri-shade-4: #fff7e0;

  /* *** Secondary color (1): */

  --col-sec-shade-0: #bcb46c;
  --col-sec-shade-1: #756d1b;
  --col-sec-shade-2: #8d8218;
  --col-sec-shade-3: #f6f3d6;
  --col-sec-shade-4: #fffce0;

  /* *** Secondary color (2): */

  --col-ter-shade-0: #bc996c;
  --col-ter-shade-1: #754f1b;
  --col-ter-shade-2: #8d5b18;
  --col-ter-shade-3: #f6e8d6;
  --col-ter-shade-4: #fff2e0;
}

body {
  background-color: var(--col-pri-shade-3);
  font-family: var(--font);
}

.body-wrap {
  background-image: url(bg.png);
  /* opacity: .3; */
}

main {
  width: 90%;
  background-color: var(--col-pri-shade-4);
  margin: 20px auto;
  border: 3px solid var(--col-ter-shade-2);
  border-radius: 8px;
}

article {
  padding: 10px;
}

#cards {
  display: flex;
  gap: var(--flex-gap);
  flex-wrap: wrap;
  align-items: flex-start;
}

#cards > div {
  /* border: 1px solid silver; */
  border: 3px solid var(--col-sec-shade-1);
  padding: 10px;
  flex: 0 0 auto;
  width: calc(
    (100% - ((var(--flex-items) - 1) * var(--flex-gap))) / var(--flex-items)
  );
  background-color: white;
  filter: drop-shadow(3px 3px 2px #00000064);
  border-radius: 4px;
}

#cards .nev {
  font-size: 110%;
}

#cards img {
  width: 100%;
  border: 2px solid var(--col-sec-shade-1);
  margin-top: 10px;
}

#cards button {
  background-color: var(--col-button-red);
  color: white;
  font-weight: bold;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 5px 15px;
  margin-top: 10px;
  font-family: var(--font);
  float: right;
}

#table-container .table-wrapper {
  width: 100%;
  /* border: 1px solid silver; */
  border: 2px solid var(--col-sec-shade-1);
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

#table-container table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

#table-container table thead th {
  padding: 5px;
  border-bottom: 1px solid #00000030;
}


#table-container table thead > tr > th[aria-sort],
#table-container table thead > tr > th[aria-sort="ascending"],
#table-container table thead > tr > th[aria-sort="descending"] {
  padding-right: 30px;
}

#table-container table thead > tr > th:active {
  outline: 0;
}

#table-container table thead [aria-sort],
#table-container table thead [aria-sort="ascending"],
#table-container table thead [aria-sort="descending"] {
  cursor: pointer;
  position: relative;
}

#table-container table thead [aria-sort]:after,
#table-container table thead [aria-sort]:before,
#table-container table thead [aria-sort="ascending"]:after,
#table-container table thead [aria-sort="ascending"]:before,
#table-container table thead [aria-sort="descending"]:after,
#table-container table thead [aria-sort="descending"]:before {
  position: absolute;
  bottom: 0.5em;
  display: block;
  opacity: 0.3;
}

#table-container table thead [aria-sort]:before,
#table-container table thead [aria-sort="ascending"]:before,
#table-container table thead [aria-sort="descending"]:before {
  right: 1em;
  content: "\f0de";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  font-size: 1rem;
}

#table-container table thead [aria-sort]:after,
#table-container table thead [aria-sort="ascending"]:after,
#table-container table thead [aria-sort="descending"]:after {
  content: "\f0dd";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  right: 16px;
  font-size: 1rem;
}

#table-container table thead [aria-sort="ascending"]:before,
#table-container table thead [aria-sort="descending"]:after {
  opacity: 1;
}

#table-container table tbody tr {
  border-top: 1px solid #00000010;
}

#table-container table td {
  /* border: 1px solid silver; */
  padding: 0 20px;
}

#table-container th:nth-child(1),
#table-container td:nth-child(1) {
  width: 100px;
}

#table-container td:nth-child(3),
#table-container td:nth-child(5) {
  text-align: right;
}

#table-container tr:nth-child(even) {
  background-color: #00000005;
}

#table-container img {
  padding: 2px;
  height: 50px;
}

#table-container button {
  background-color: var(--col-button-red);
  color: white;
  border: 1px solid silver;
  font-family: var(--font);
  border-radius: 3px;
  padding: 5px 15px;
}

#table-n-form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

#table-n-form > * {
  flex: 1 1 auto;
}

#form {
  flex: 0 0 600px;
}

form {
  max-width: 600px;
  background-color: white;
  /* border: 1px solid grey; */
  border: 2px solid var(--col-sec-shade-1);
  border-radius: 3px;
  padding: 10px;
}

form label.aligned {
  width: 100px;
  display: inline-block;
  text-align: right;
  padding: 0 10px;
}

form input[type="text"],
form input[type="url"],
form input[type="number"],
div.input-container {
  padding: 7px;
  width: calc(100% - 110px);
  display: inline-block;
}

fieldset {
  border: 0 none;
  margin-bottom: 20px;
}

form button {
  border: 1px solid grey;
  background-color: #4f4fdd;
  color: white;
  font-family: var(--font);
  border-radius: 5px;
  font-size: 110%;
  padding: 10px;
  display: block;
  width: 100%;
}

.fa-venus {
  color: #ff647e;
}

.fa-mars {
  color: #338ec6;
}
footer {
  text-align: center;
  padding: 10px;
}

footer a {
  text-decoration: none;
}
